<!doctype html>
<html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Our movie database</h1>
</nav>
<head>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<section class="content">
	{% for movie in movies %}
	<h3>{{ movie['title'] }}</h3>
	  
	  {% for key, value in movie.items() %}
	        {% if  key == 'title' %}
		{% else %}
	  	  {{ key }}: {{value}}
		  <br/>
		{% endif %}
	  {% endfor %}

		<br/>
	{% endfor %}
</section>
</body>
</html>
